/**
color storage:
when clicked
primary: #2E90E5
danger: #F53848
success: #07C107
warning: #EBB600
default: #13161A

outline(colored text)

light-fill(colored text )


*/

/** All Hover colors*/
.button-primary:hover{ 
    background-color: #2E90E5;
    border: 1px solid #2E90E5;
}
.button-danger:hover{
    background-color: #F53848;
    border: 1px solid #F53848;
}
.button-success:hover{
    background-color: #07C107;
    border: 1px solid #07C107;
}
.button-warning:hover{
    background-color: #EBB600;
    border: 1px solid #EBB600;
}
.button-default:hover{
    background-color: #13161A;
    border: 1px solid #13161A;
}
/** All base button colors*/
.button-primary{ 
    background-color: rgba(51, 160,255);
    border: 1px solid rgba(51, 160,255);
}
.button-danger{
    background-color: rgba(255, 72, 88);
    border: 1px solid rgba(255, 72, 88);
}
.button-success{
    background-color: rgba(10, 208, 10);
    border: 1px solid rgba(10, 208, 10);
}
.button-warning{
    background-color: rgba(255, 198, 0);
    border: 1px solid rgba(255, 198, 0);
}
.button-default{
    background-color: rgba(34, 38, 42);
    border: 1px solid rgba(34, 38, 42);
}
/* Basic button characteristics */
button{
    border-radius: 2px;
    padding: 5px 25px;
    color: white;
    font-size: 16px;
    
}
.button-large{
    padding: 10px 50px;
}
/** all light fill transparencies*/
.button-primary.button-light-fill{
    color: rgba(51, 160,255);
    background-color: rgba(51, 160,255,.1);
    border: 1px solid rgba(51, 160,255,.1);
}
.button-danger.button-light-fill{
    color: rgba(255, 72, 88);
    background-color:rgba(255, 72, 88,.1);
    border:1px solid rgba(255, 72, 88,.1);
}
.button-success.button-light-fill{
    color: rgba(10, 208, 10);
    background-color:rgba(10, 208, 10,.1);
    border: 1px solid rgba(10, 208, 10,.1);
}
.button-warning.button-light-fill{
    color: rgba(255, 198, 0);
    background-color:rgba(255, 198, 0,.1);
    border: 1px solid rgba(255, 198, 0,.1)
}
.button-default.button-light-fill{
    color: rgba(34, 38, 42);
    background-color:rgba(34, 38, 42,.1);
    border: 1px solid rgba(34, 38, 42,.1);
}
/** All outline css*/
.button-primary.button-outline{
    color: rgba(51, 160,255);
    background-color: white;
}
.button-danger.button-outline{
    color: rgba(255, 72, 88);
    background-color:white;
}
.button-success.button-outline{
    color: rgba(10, 208, 10);
    background-color:white;
}
.button-warning.button-outline{
    color: rgba(255, 198, 0);
    background-color:white;
}
.button-default.button-outline{
    color: rgba(34, 38, 42);
    background-color:white;
}
/** Icon Css*/
.icon {
    display:flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0px;
    padding: 10px 10px;
    font-size: 14px;
}
.icon img{
    padding: 0px 10px;
}